.img-admin{
    height: 100px;
}
body{
    background: black;
    color: white;
}
@media screen and (max-width: 640px) {
    table {
        overflow-x: auto;
        display: block;
    }
}
.fonform{
    background: white;
    color: black;
}
#list{
    display: none;
}